<html>
<h1>Your potential matches, like to see what the future holds</h1>


</form>
<h1>Like this user?</h1>

    <label>
        <!--dislike er id'et vi ændrer-->
        Name: <%= myusers[dislike].name%>
    </label>
    <label>
        Age: <%= myusers[dislike].age%>
       
    <label>
        Gender: <%= myusers[dislike].gender%>
    </label>
    <label>
        Interests: <%= myusers[dislike].interests%>
    </label>
    <label>
        City: <%= myusers[dislike].city%>

    </label>
    <img src= <%=myusers[dislike].profileimage%> alt="My Profile" width="200" height="200">
   

    <!--Når man trykker på like skal det kunne gå videre til næste "potential match"-->


<form method="post" action="/dislike">




    <button type="submit">Dislike</button>

</form>

<form method="post" action="/didlike">


    <button type="submit">Like</button>

</form>



</html>

