<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile</title>
</head>
<body>
    

    <a href="/">Go back to homepage</a>

    <a href="/views/potentialmatch">Show potentialmatches</a>



</br>


<h1>

    Hello and welcome:
    <label>
    You are logged with this email : <%= loggedinuseremail%>
    </label></h1>

    And your logged in user index is:

    <label>
        Logged in user ind: <%= loggedinuserindex%>
    </label>

<label>
    id: <%= myusers[loggedinuserindex].id%>
</label>

    <label>
        Name: <%= myusers[loggedinuserindex].name%>
    </label>
    <label>
        Age: <%= myusers[loggedinuserindex].age%>
       
    </label>
    E-mail: <%= myusers[loggedinuserindex].email%>
    
    <label>
        Gender: <%= myusers[loggedinuserindex].gender%>
    </label>
    <label>
        Interests: <%= myusers[loggedinuserindex].interests%>
    </label>
    <label>
        City: <%= myusers[loggedinuserindex].city%>

    </label>
    Profileimage
    <img src= <%=myusers[loggedinuserindex].profileimage%>  style="width:15%;">
   

<H1> Update Information? </H1>
    <form method="post" action="/updateuser">
        
        <label>
            id:
            <input type="text" value= <%= myusers[loggedinuserindex].id%> name="id" placeholder="id">
        </label>

        <label>
            Name:
            <input type="text" name="name" placeholder="Navn">
        </label>

        <label>
            Age:
            <input type="number" name="age" min="18" max="120" placeholder="Alder">
        </label>

        <label>
        E-mail:
        <input type="email" name="email" placeholder="e-mail">
        </label>

            <label>
                Password:
            <input type="password" name="password" placeholder="password">
            </label>    
            Gender:
        <select name="gender">
            <option>male</option>
            <option>female</option>
        </select>
        </label>
        <label>
            Interests:
        <select name="interests" multiple  min="1">
            <option>Weight Lifting</option>
            <option>Bowling</option>
            <option>Eating</option>
            <option>Hiking</option>
        </select>
        </label>
        <label>
            City:
        <input type="text" name="city" placeholder="city">
        

        <button type="submit">Send</button>

        
    </form>
            <h1>Logout</h1>
    <form method="post" action="/logout">
        <button type="submit">Logout</button>

    </label>
    E-mail: <%= myusers[loggedinuserindex].email%>
    <label>
        <!--Sender noget i formen, det gør label ikke-->
    <input type="email" name="email" value= <%= myusers[loggedinuserindex].email%> placeholder="e-mail">
        </form>

            <!--Vi bruger email som identifikation-->
        <h1>Delete myProfile</h1>
    <form method="post" action="/deleteuser">
        <button type="submit">DeleteProfile</button>

    </label>
    E-mail: <%= myusers[loggedinuserindex].email%>
    <label>
        <!--Sender noget i formen, det gør label ikke-->
    <input type="email" name="email" value= <%= myusers[loggedinuserindex].email%> placeholder="e-mail">
        
</form>

<form method="post" action="/removematches">
        <h1>My matches</h1>

        <label>
           
            </label>
        
            <ul>
                
                <% matches.forEach(function(item) { %>
                    
                    
                    <li><%= item.id%></li>
        
                <% });%>
        

            </ul> 
        </label>
            E-mail: <%= myusers[loggedinuserindex].email%>
            <label>
            <input type="email" name="loggedinuseremail" value= <%= myusers[loggedinuserindex].email%> placeholder="e-mail">

            <button type="submit">Unmatch</button>

        </form>
        


</body>
</html>