<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My profile</title>
</head>
<body>
    

    <a href="/">My profile-data</a>

</br>

<label>
    id: <%= myusers[3].id%>
</label>

    <label>
        Name: <%= myusers[3].name%>
    </label>
    <label>
        Age: <%= myusers[3].age%>
       
    </label>
    E-mail: <%= myusers[3].email%>
    
    <label>
        Gender: <%= myusers[3].gender%>
    </label>
    <label>
        Interests: <%= myusers[3].interests%>
    </label>
    <label>
        City: <%= myusers[3].city%>

    </label>
    Profileimage
    <img src= <%=myusers[3].profileimage%> alt="My Profile" width="200" height="200">
   

<H1> Update Information? </H1>
    <form method="post" action="/updateuser">
        
        <label>
            id:
            <input type="text" value= <%= myusers[3].id%> name="id" placeholder="id">
        </label>

        <label>
            Name:
            <input type="text" name="name" placeholder="Navn">
        </label>

        <label>
            Age:
            <input type="number" name="age" min="18" max="120" placeholder="Alder">
        </label>

        <label>
        E-mail:
        <input type="email" name="email" placeholder="e-mail">
        </label>

            <label>
                Password:
            <input type="password" name="password" placeholder="password">
            </label>    
            Gender:
        <select name="gender">
            <option>male</option>
            <option>female</option>
        </select>
        </label>
        <label>
            Interests:
        <select name="interests" multiple  min="1">
            <option>Weight Lifting</option>
            <option>Bowling</option>
            <option>Eating</option>
            <option>Hiking</option>
        </select>
        </label>
        <label>
            City:
        <input type="text" name="city" placeholder="city">
        

        <button type="submit">Send</button>

        
    </form>
            <h1>Logout</h1>
    <form method="post" action="/logout">
        <button type="submit">Logout</button>

    </label>
    E-mail: <%= myusers[3].email%>
    <label>
        <!--Sender noget i formen, det gør label ikke-->
    <input type="email" name="email" value= <%= myusers[3].email%> placeholder="e-mail">
        </form>

            <!--Vi bruger email som identifikation-->
        <h1>Delete myProfile</h1>
    <form method="post" action="/deleteuser">
        <button type="submit">DeleteProfile</button>

    </label>
    E-mail: <%= myusers[3].email%>
    <label>
        <!--Sender noget i formen, det gør label ikke-->
    <input type="email" name="email" value= <%= myusers[3].email%> placeholder="e-mail">
        </form>
</body>
</html>